body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00000061;
}

.calculator {
    background-color: #333;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px #10c3df;
}

.display {
    margin-bottom: 10px;
}

input#result {
    width: 100%;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-size: 2em;
    border: none;
    padding: 10px;
    text-align: right;
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
    font-size: 1.5em;
    background-color: #000000;
    color: #10c3df;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #888;
}

button:active {
    background-color: #aaa;
}
